*{
  margin: 0;
 
}
/* .container-main{
  
 text-align: center;
}
.image-search{
  text-align: center;
  height: auto;
} */
body{
  background-color: rgb(61, 63, 63);
  text-align: center;
  width: 100%;
  height: auto;
}