.is_the_body{
  background-color: hsl(180, 2%, 80%);
  margin: 0;
}

.container {
    min-width: 20%;
    font-family: sans-serif;
    text-align: center;
  }
  .head1{
    align-items: center;
  }
  p{
    font-size: 40px;
  }